<head>
    <title>Financial Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>
    <div class="container">
        <img src="https://media.istockphoto.com/id/1634086519/photo/human-and-robot-hands-forming-a-heart-shape-together-ai-and-human-collaboration-concept.jpg?s=1024x1024&w=is&k=20&c=y-Hh5I7_kkPvympGEHh_aG9tc9_78YN3X-3dAoHxhVw="
        width="320" height="240">
        <h2>Welcome to Robo Advisor</h2>
        <form action="/SA" method="post">
            <input type="submit" value="Sentiment Analysis">
        </form>
        <form action="/financial_QA" method="post">
            <input type="submit" value="Financial Q&A">
        </form>
    </div>
</body>


